/* #hero_section {
    background-image: url('../../public/hero-image.png');
    height: 80vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: right;
} */